---
import Layout from "@layouts/Layout.astro";
import Timeline from "@components/Timeline.astro";
import SectionContainer from "@components/SectionContainer.astro";
import AssemblyIcon from "@components/icons/AssemblyIcon.astro";
import InfoIcon from "@components/icons/InfoIcon.astro";
import InfoImages from "@components/InfoImages.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const buttonsToShow = [
   {
      href: "/",
      text: "Home",
   },
   {
      href: "/about",
      text: "About",
   },
   {
      href: "/services",
      text: "Services",
   },
   {
      href: "/contact",
      text: "Contact",
   },
];

const mainText =
   "Welcome to 612Soft, your premier destination for cutting-edge web development solutions. Our team of experienced developers and designers is dedicated to transforming your vision into a stunning, functional, and user-friendly website. Whether you need a simple landing page or a complex e-commerce platform, we combine creativity, technical expertise, and the latest industry trends to deliver a product that exceeds your expectations. Our goal is to help your business thrive in the digital landscape by providing a seamless online experience for your customers.";

const services = [
   {
      title: "Revolutionizing E-commerce with Custom Solutions",
      description:
         "Discover how 612Soft delivers tailor-made e-commerce platforms that boost sales and enhance user experience. Our custom solutions cater to unique business needs, ensuring seamless integration and scalability.",
   },
   {
      title: "Streamlining Business Operations with ERP Systems",
      description:
         "612Soft specializes in developing robust ERP systems that streamline business processes, improve efficiency, and provide real-time insights. Learn how our ERP solutions can transform your business operations.",
   },
   {
      title: "Empowering Startups with MVP Development",
      description:
         "612Soft helps startups bring their ideas to life with Minimum Viable Product (MVP) development. Our agile approach ensures rapid development, allowing startups to validate their concepts and attract investors.",
   },
   {
      title: "Enhancing Customer Engagement with Custom CRM Software",
      description:
         "612Soft's custom CRM solutions help businesses manage customer relationships effectively. Our CRM software is designed to enhance customer engagement, improve sales, and streamline communication.",
   },
   {
      title: "Transforming Education with E-learning Platforms",
      description:
         "Explore how 612Soft's e-learning platforms revolutionize the education sector. Our solutions provide interactive and scalable learning experiences, catering to the needs of both educators and learners.",
   },
];

const langs = [
   {
      url: getRelativeLocaleUrl("es"),
      name: "Spanish",
   },
   {
      url: getRelativeLocaleUrl("en"),
      name: "English",
   },
];

const tags = {Tag1: {name: ".net C#", class: "bg-black text-white"}, Tag2: {name:"Astro, TailwindCSS", class: "bg-white text-black"}}

const infoImages = [{
    title: "Who We Are",
    description: "We are a leading company in developing customized software for businesses. Our approach is based on understanding the specific needs of our clients and designing solutions that drive their efficiency and competitiveness.",
    image: "/content/mac.webp",
    link: "https://612soft.com/",
    tags: [tags.Tag1, tags.Tag2]
},
{
    title: "Location",
    description: "With our operations center located in La Paz, Baja California Sur, Mexico.",
    image: "/content/programming.webp",
    link: "https://612soft.com/",
    tags: [tags.Tag1, tags.Tag2]
}]
---

<Layout
   title="612 Soft - Web development"
   description="Choose us to develop a professional custom page for you."
   language="en"
   buttons={buttonsToShow}
   titleText="Welcome to 612Soft"
   langButtonText="Language"
   mainText={mainText}
   langOptions={langs}
>
   <!-- <TypingText titleText="Welcome to 612Soft"/> -->
   <main class="px-4">
      <SectionContainer
         id="invisibleSection"
         class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out"
      >
         <h2
            class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex py-8"
         >
            <AssemblyIcon class="size-6" />Our Services
         </h2>
         <Timeline items={services} />
      </SectionContainer>
      <SectionContainer
         id="invisibleSection"
         class="observeMe opacity-0 translate-y-4 transition-opacity duration-700 ease-out"
      >
         <h2
            class="text-sm md:text-xl lg:text-2xl font-semibold mb-6 gap-x-3 text-black/80 dark:text-white flex"
         >
            <InfoIcon class="size-6" />About Us
         </h2>
         <InfoImages items={infoImages}/>
      </SectionContainer>
   </main>
</Layout>
