---
// import LangButton from "@components/LangButton.tsx"
//onst display = "absolute";
import { getRelativeLocaleUrlList,  } from "astro:i18n";
interface Props {
  buttons: {
    href: string;
    text: string;
  }[],
  langButtonText:string
}
const { buttons, langButtonText } = Astro.props;
const urls = getRelativeLocaleUrlList();
---

<nav class="gap-x-10 opacity-80">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <div class="flex items-center">
      <img src="/logo.png" alt="612Soft Logo" class="h-12 w-12" />
      <div class="ml-2">
        <h1 class="font-bold opacity-80 text-2xl">612Soft</h1>
      </div>
    </div>
    <!-- <LangButton client:load/> -->
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        {
          buttons?.map((btn) => (
            <li>
              <a href={btn.href}>{btn.text}</a>
            </li>
          ))
        }
        <!-- {
          urls.map((url) => (
            <li>
              <a href={url}>{url}</a>
            </li>
          ))
        } -->
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-[#4723a7] hover:bg-[#845af5] focus:ring-4 focus:outline-none focus:ring-black font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-[#4723a7] dark:hover:bg-[#845af5] dark:focus:ring-white" type="button">{langButtonText}<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
          </button>
          
          <!-- Dropdown menu -->
          <div id="dropdown" class="z-10 hidden bg-gray-200 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-black dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                {
                  urls.map((url) => (
                    <li>
                      <a class="block px-4 py-2 hover:bg-[#845af5] dark:hover:bg-[#845af5] hover:text-white" href={url}>{url}</a>
                    </li>
                  ))
                }
                <!-- <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                </li> -->
              </ul>
          </div>
        <!-- <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>